body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Urbanist', sans-serif, -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* caret-color: transparent; */
    caret-color: rgb(216, 208, 101);
}

/* ::-webkit-scrollbar {
    width: 0px;
} */

/* .swiper {
    
} */

.swiper-slide {
    padding: 0.5rem 0;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    /* margin-top: -22px !important; */
    position: absolute;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    padding: 3rem 1rem;
    color: rgba(255, 255, 255, 0.7);
    /* background-position: center; */
    background-color: rgba(0, 0, 0, 0.2);
    /* background-repeat: no-repeat; */
    top: 30%;
}

.mySwiper .swiper-button-prev.swiper-button-disabled,
.mySwiper .swiper-button-next.swiper-button-disabled {
    opacity: 0;
}

.mySwiper .swiper-lazy-preloader {
    position: absolute;
    border: 4px solid #fde88c;
    border-top-color: transparent;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        visibility: hidden;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* @font-face {
    font-family: 'YesMargo';
    src: local('YesMargo'), url('./fonts/Yes-Margo.otf') format('opentype');
} */
